<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trile.egame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/play_fire"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuHome.HomeActivity">

        </activity>
        <activity android:name=".MenuHome.TopActivity" />
        <activity android:name=".RegisterLogin.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuHome.Practice_Vocabulary_Activity">

        </activity>
        <activity android:name=".LevelPlayActivity" />
        <activity android:name=".PlayMenuActivity" />
        <activity android:name=".MenuHome.PLAY" />
        <activity android:name=".Theme.Theme_Animal" ></activity>
        <activity android:name=".Theme.Theme2" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Theme.Theme3"></activity>
    </application>

</manifest>